{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Checkout{% endblock title %}

{% block content %}
    <section class="chekout">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1>Checkout</h1>
                    <ul class="list-group">
                        {% for item in cart %}
                            <a class="list-group-item list-group-item-action">{{ item.quantity }} X {{ item.product.product_name }}</a>
                            <span class="text-end fw-bold">Ksh: {{ item.total_price }}</span>
                        {% endfor %}
                    </ul>
                    <p class="lead text-end fw-bolder my-5">Ksh: {{ cart.get_total_price }}</p>
                    
                </div>
                <div class="col-md-6">
                    <div class="order-form">
                        <form action="" method="post">{% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-success my-3" value="Place order">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock content %}