{% extends 'base.html' %}
{% load static %}



{% block title %}Pay by credit card{% endblock title %}
{% block content %}
    <section class="pay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1>Pay by credit card</h1>
                    <form method="post" id="payment">
                        <div class="form-group">
                          <label for="card-number">Card Number</label>
                          <input type="number" class="form-control" id="card-number" aria-describedby="cardInput" placeholder="Enter card number">
                        </div>
                        <div class="form-group">
                          <label for="cvv">CVV</label>
                          <input type="number" class="form-control" id="cvv" placeholder="CVV">
                        </div>
                        <div class="form-group">
                            <label for="expiration-date">Expiration Date</label>
                            <input type="text" class="form-control" id="expiration-date" placeholder="M/Y">
                        </div>
                        <input type="hidden" id="nonce" name="payment_method_nonce" value="">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success my-3" value="Pay">
                      </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block js %}
    <script src="https://js.braintreegateway.com/web/3.44.2/js/hostedfields.min.js"></script>
    <script>
        var form = document.querySelector('#payment');
        var submit = document.querySelector('input[type="submit"]');

        braintree.client.create({
            authorization: '{{ client_token }}'
        }, function (clientErr, clientInstance){
            if (clientErr) {
                console.error(clientErr);
                return;
            }

            braintree.hostedFields.create({
                client: clientInstance,
                styles: {
                    'input': {'font-size': '1.5rem'},
                    'input.invalid': {'color': 'red'},
                    'input.valid': {'color': 'green'}
                },
                fields: {
                    number: {selector: '#card-number'},
                    cvv: {selector: '#cvv'},
                    expirationDate: {selector: '#expiration-date'}
                }
            }, function (hostedFieldsErr, hostedFieldsInstance){
                if (hostedFieldsErr){
                    console.error(hostedFieldsErr);
                    return;
                }

                submit.removeAttribute('disabled');
                form.addEventListener('submit', function(event){
                    event.preventDefault();
                    hostedFieldsInstance.tokenize(function (tokenizeErr, payload){
                        if (tokenizeErr){
                            console.error(tokenizeErr);
                            return;
                        }
                        document.getElementById('nonce').value = payload.nonce;
                        document.getElementById('payment').submit();
                    });
                }, false);
            }
            );
        });
    </script>
{% endblock js %}